@use "../variable" as *;
.site-header {
  position: relative;
  .site-header__brand {
    padding: 1.5rem 2.5rem;

    .site-header__logo {
      width: 4.61rem;
      height: 2.94rem;
      @include media-breakpoint-up(lg) {
        width: 8.67125rem;
        height: 4.5rem;
      }
    }
  }
  .site-header__video-container {
    video {
      width: 100%;
      height: 100%;
      min-height: 370px;
      max-height: 568px;
      object-fit: cover;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 68%;
      min-height: 370px;
      background: linear-gradient(to bottom, $brown, $black);
      opacity: 0.8;

      @include media-breakpoint-up(lg) {
        min-height: 568px;
      }
    }
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 3.5em;
    font-family: $heading-font-family;
    text-align: center;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    line-height: 80px;
  }
}
